pkgbase = linux-lts
	pkgdesc = LTS Linux
	pkgver = 6.6.35
	pkgrel = 2
	url = https://www.kernel.org
	arch = x86_64
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.35.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.35.tar.sign
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = 0002-skip-simpledrm-if-nvidia-drm.modeset=1-is.patch
	source = 0003-Default-to-maximum-amount-of-ASLR-bits.patch
	source = config
	source = 0004_amd_nb.diff
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = fce3ee728712ed063aa8c14a8756c8ff8c7a46ba3827f61d2b04a73c7cf5dd9e
	sha256sums = SKIP
	sha256sums = 21195509fded29d0256abfce947b5a8ce336d0d3e192f3f8ea90bde9dd95a889
	sha256sums = 2f23be91455e529d16aa2bbf5f2c7fe3d10812749828fc752240c21b2b845849
	sha256sums = 6400a06e6eb3a24b650bc3b1bba9626622f132697987f718e7ed6a5b8c0317bc
	sha256sums = 066e4739ad38e7c7b6ec84de38902b14a0db40cd8f82d41105c35bd1ca5b73d1
	sha256sums = 7a68f793a8acfdf6caaf8ada0273eaac0f04f5990ccfadd2293f82c7c6de91a1
	b2sums = 93fff6421875329ab7d7ad2f0a0d3d1377c1eb42df295638c967eced3551b08986445b5e47b9d3bd1b24f93d3feeed43b1aba77f6912dc13449d956be3616571
	b2sums = SKIP
	b2sums = 02a10396c92ab93124139fc3e37b1d4d8654227556d0d11486390da35dfc401ff5784ad86d0d2aa7eacac12bc451aa2ff138749748c7e24deadd040d5404734c
	b2sums = 5dc21a7a6f0b840e6a671dcf09a865e42f0e2c000d5e45d3f3202c02946a8ab2207858d0b2ef1004648b8c2963efb428298b263c8494be806dfc9b6af66d5413
	b2sums = ba6ebe349b3757411364a9ba2deaa30a8d71a247d518c159385977c2b4782771bda4edfc96bd954808617c9ba984d832471b63c11f5bd6003369bfe4051df31f
	b2sums = e1fdeff92265d33fd1cdfdbab6e9cb8744253b7f3301f76fc4d1c4f7e3eb8d8ea2b616e7eeb50ae93ec131cdcfb217790bbea4e7dc24ad68766e7078ebae6785
	b2sums = 116090d2e3c96a2ac9bc7874c5db3db6b11c4deb7daa054557bced9f1cc16cdedd9a0ef5d37492da6ec640c63dca554be633fac01819d16038fb9587ad563cdd

pkgname = linux-lts
	pkgdesc = The LTS Linux kernel and modules
	license = Apache-2.0 OR MIT
	license = BSD-2-Clause OR GPL-2.0-or-later
	license = BSD-3-Clause
	license = BSD-3-Clause OR GPL-2.0-only
	license = BSD-3-Clause OR GPL-2.0-or-later
	license = BSD-3-Clause-Clear
	license = GPL-1.0-or-later
	license = GPL-1.0-or-later OR BSD-3-Clause
	license = GPL-2.0-only
	license = GPL-2.0-only OR Apache-2.0
	license = GPL-2.0-only OR BSD-2-Clause
	license = GPL-2.0-only OR BSD-3-Clause
	license = GPL-2.0-only OR CDDL-1.0
	license = GPL-2.0-only OR Linux-OpenIB
	license = GPL-2.0-only OR MIT
	license = GPL-2.0-only OR MPL-1.1
	license = GPL-2.0-only OR X11
	license = GPL-2.0-only WITH Linux-syscall-note
	license = GPL-2.0-or-later
	license = GPL-2.0-or-later OR BSD-2-Clause
	license = GPL-2.0-or-later OR BSD-3-Clause
	license = GPL-2.0-or-later OR MIT
	license = GPL-2.0-or-later OR X11
	license = GPL-2.0-or-later WITH GCC-exception-2.0
	license = ISC
	license = LGPL-2.0-or-later
	license = LGPL-2.1-only
	license = LGPL-2.1-only OR BSD-2-Clause
	license = LGPL-2.1-or-later
	license = MIT
	license = MPL-1.1
	license = X11
	license = Zlib
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = wireguard-lts

pkgname = linux-lts-headers
	pkgdesc = Headers and scripts for building modules for the LTS Linux kernel
	license = BSD-3-Clause
	license = BSD-3-Clause OR GPL-2.0-only
	license = GPL-1.0-or-later
	license = GPL-1.0-or-later WITH Linux-syscall-note
	license = GPL-2.0-only
	license = GPL-2.0-only OR Apache-2.0
	license = GPL-2.0-only OR BSD-2-Clause
	license = GPL-2.0-only OR BSD-3-Clause
	license = GPL-2.0-only OR CDDL-1.0
	license = GPL-2.0-only OR Linux-OpenIB
	license = GPL-2.0-only OR Linux-OpenIB OR BSD-2-Clause
	license = GPL-2.0-only OR MIT
	license = GPL-2.0-only OR MPL-1.1
	license = GPL-2.0-only OR X11
	license = GPL-2.0-only WITH Linux-syscall-note
	license = (GPL-2.0-only WITH Linux-syscall-note) AND MIT
	license = (GPL-2.0-only WITH Linux-syscall-note) OR BSD-2-Clause
	license = (GPL-2.0-only WITH Linux-syscall-note) OR BSD-3-Clause
	license = (GPL-2.0-only WITH Linux-syscall-note) OR CDDL-1.0
	license = (GPL-2.0-only WITH Linux-syscall-note) OR Linux-OpenIB
	license = (GPL-2.0-only WITH Linux-syscall-note) OR MIT
	license = GPL-2.0-or-later
	license = GPL-2.0-or-later OR BSD-2-Clause
	license = GPL-2.0-or-later OR BSD-3-Clause
	license = GPL-2.0-or-later OR MIT
	license = GPL-2.0-or-later WITH Linux-syscall-note
	license = (GPL-2.0-or-later WITH Linux-syscall-note) OR BSD-3-Clause
	license = (GPL-2.0-or-later WITH Linux-syscall-note) OR MIT
	license = LGPL-2.0-or-later OR BSD-2-Clause
	license = LGPL-2.0-or-later WITH Linux-syscall-note
	license = ISC
	license = LGPL-2.0-or-later WITH Linux-syscall-note
	license = LGPL-2.0-or-later OR BSD-2-Clause
	license = LGPL-2.1-only
	license = LGPL-2.1-only OR BSD-2-Clause
	license = LGPL-2.1-only OR MIT
	license = LGPL-2.1-only WITH Linux-syscall-note
	license = LGPL-2.1-or-later
	license = LGPL-2.1-or-later OR BSD-2-Clause
	license = LGPL-2.1-or-later WITH Linux-syscall-note
	license = MIT
	license = Zlib
	depends = pahole

pkgname = linux-lts-docs
	pkgdesc = Documentation for the LTS Linux kernel
	license = BSD-3-Clause
	license = GFDL-1.1-no-invariants-or-later
	license = GPL-2.0-only
	license = GPL-2.0-only OR BSD-2-Clause
	license = GPL-2.0-only OR BSD-3-Clause
	license = GPL-2.0-only OR GFDL-1.1-no-invariants-or-later
	license = GPL-2.0-only OR GFDL-1.2-no-invariants-only
	license = GPL-2.0-only OR MIT
	license = GPL-2.0-or-later
	license = GPL-2.0-or-later OR BSD-2-Clause
	license = GPL-2.0-or-later OR CC-BY-4.0
	license = GPL-2.0-or-later OR MIT
	license = GPL-2.0-or-later OR X11
	license = LGPL-2.1-only OR BSD-2-Clause
	license = MIT
